# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MatrixMul/.vscode/

MatrixMul/onemkl/build/

MatrixMul/sycl/build/

circuit_test/C\+\+/.vscode/

circuit_test/C\+\+/Circuit_test/build/
.vscode/settings.json

circuit_test/C\+\+/Circuit_test/.vscode/

Random_Circuit_Generator/__pycache__/

Random_Circuit_Generator/.idea/
